{{ include.quote }}<span data-pullquote="{{ include.quote }}"></span>

## About Luli
Lourdes Schmader is a second-year Ph.D. student in literacy, cultural and linguistic studies at the University of Miami. Her area of research focuses on the Indigenous Cosmovision of the Peoples of Abya Yala (the oldest known name for the American continent) and their cultural productions as well as their activism as innovative ways of radical resurgent that propose alternative venues to combat the ecological crisis in the Amazon and worldwide.
