
body {
  background-image: url('/images/Background2.png');
  background-repeat: no-repeat;
   background-size: cover;
}

.circular-image {
  border-radius: 50%;
}
![My profile picture](/images/Luli.png){: .circular-image}
