---
---

body {
  background-image: url('https://github.com/lulischmader/lulischmader.github.io/blob/master/images/Luli-Summer.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
